{% extends 'base.html' %}
{% block head %}
<meta property="og:title" content="paper summary">
<meta property="og:url" content="{{url_for('seepost',id=p.id)}}">

<meta property="og:description" content="Study pdf summary for healthcare professional">
{{ super() }}
{{ pagedown.html_head() }}
{% endblock head %}
{% block content %}

{% if p %}
<div class="post-detail">
    <h2>🗓️: {{p.timestamp.strftime("%d-%m-%Y") |safe }}</h2>
    {% if p.body_html %}
    {{ p.body_html | safe }}
    {% else %}
    {{ p.body | safe }}
    {% endif %}
</div>



{% endif %}
<div class="comment-form">
    <form action="{{url_for('comment',id=p.id)}}" method="POST">
        {{form.hidden_tag()}}
        <div>
            {{form.post.label(class="form-control-label")}}
            {{form.post(class="form-control")}}
        </div>
        <div style="margin: 10px;">
            {{form.submit(class="btn btn-primary")}}
        </div>
    </form>
</div>
{%if comments %}
{% for comment in comments %}
<div class="comment-list">
    <table>
        <tr valign="top">
            <td><img src="{{ comment.author.avatar(36) }}"></td>
            <td>{{ comment.author.username }}says:<br>
                <a href="{{url_for('seepost',id=p.id)}}">
                    {{ comment.body|safe }}
                </a>
            </td>
        </tr>
    </table>>
</div>

{% endfor %}
{% endif %}

{% endblock %}